<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BibleTagging.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <BibleTagging.Properties.Settings>
            <setting name="ReferenceBibleFileName" serializeAs="String">
                <value />
            </setting>
            <setting name="referenceBibleFileFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="TargetBibleFileName" serializeAs="String">
                <value />
            </setting>
            <setting name="TargetBibleFileFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="LastBook" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LastChapter" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LastVerse" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BiblesFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="TargetTextDirection" serializeAs="String">
                <value>RTL</value>
            </setting>
        </BibleTagging.Properties.Settings>
    </userSettings>
</configuration>